@charset "utf-8";
/* CSS Document */

/*PARAGRAPH SETS*/
.p1 {
	
	
}



/*END PARAGRAPH SETS*/
* {
    box-sizing: border-box;
    clear: left;
    float: none;
}

body {
    font-family: Arial;
    padding: 20px;
    background-color: #000066;
    background-image: url(../image-elements/background-gradient.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    width: 90%;
    clear: none;
    margin-left: auto;
    margin-right: auto;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: thin solid #6EC2FF;
}

.cardtitledate {
    width: 100%;
    border-radius: 6px;
    border: thin solid #FF898B;
    background-color: #B8B8B8;
    margin-bottom: 5px;
}

.card h2 {
    margin-left: 10px;
    margin-top: 2px;
}
.card h4 {
    width: 40%;
    clear: left;
    margin-top: -19px;
    color: #241B74;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.card h5 {
    text-align: right;
    right: 0px;
    float: right;
    color: #241B74;
    text-shadow: 0px 0px #241B74;
    margin-top: -15px;
    margin-right: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width : 800px ){
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/*	responsive layout. makes the linkbar div snap to below the header image when screen is less than 800px wide. works well for phone screens.*/


.post-section-title {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: xx-large;
    color: #72A4E0;
}

.followme-socials h3{
    text-align: center;
    margin-top: 0px;
}
.followme-socials li{
    list-style-type: none;
    line-height: 40%;
    text-align: center;
}
.followme-list {
    width: 50%;
    clear: none;
    float: left;
    line-height: 20%;
    list-style-type: none;
}
.followme-list li{
    list-style-type: none;
    text-indent: 0px;
    margin-right: auto;
    width: 50%;
}
.followme-list ul{
    width: 47%;
    text-indent: 0px;
    margin-left: auto;
    margin-right: auto;
}
.followme-list h3{
	text-align: center;
}
.support-list {
    line-height: 20%;
    float: right;
    width: 50%;
    padding-left: 20px;
    clear: right;
    list-style-type: none;
}
.support-list li{
    list-style-type: none;	
}
.support-list ul{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.support-list h3{
    text-align: center;
}
.contactme-list {
    text-align: center;
    list-style-type: none;
}
.contact-all-links {
    height: 125px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}
