<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Art Archive Nav</title>
</head>

<body>
	<h2>Art Archive</h2>
	 <p>The art archive is a collection of various sketches, minor projects, and pieces of artwork that don't fit into one specific category.</p>
		          <details>
          <summary>Posts </summary>
           <div class="miscpostlist">
			   <p>under construction!</p>
<!--               <p>post 1</p>
               <p>post 2</p>
               <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>-->
            </div>
		  </details>
		  
	
	
	
</body>
</html>
