<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Blog Nav</title>
</head>

<body>
	<h2>Blog Posts</h2>
		          <details>
          <summary>Posts </summary>
           <div class="miscpostlist">
			   <p>under construction!</p>
<!--               <p>post 1</p>
               <p>post 2</p>
               <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>
			   <p>post 3</p>-->
            </div>
		  </details>
		  
	
	
	
</body>
</html>
