<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

	 <div class="footer-leftcolumn">
		 <ul>
			 <li>
			<a href="/index.html">
				 Home
				 </a>
			 </li>
			 <li><a href="/about me.html">About me</a></li>
			 
			 
			 <li><a href="/Blog/index.html">Blog</a></li>
			 
			 
			 <li><a href="/journals/index.html">D&amp;D Journals</a></li>
			 
			 
			 <li><a href="/Major Projects/index.html">Major Projects</a></li>
			 
			 
		 <li><a href="/Art Archive/index.html">Art Archive</a></li>
		 
		 
		 </ul></div>
	   <div class="footer-rightcolumn">
		   <ul><li><a href="/underconstruction.html">Contact</a></li>
			 
			 
			
			   <li><a href="/underconstruction.html">Social Media</a></li>
		   
		   </ul>
		  
	</div>
	© Allen Grace 2025
</body>
</html>
