<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	<!-- header.html -->
	<div class="headertitle">
	</div>
	

		
		
	 <div class="linkbar">
		 <ul>
    <li>
		       <a href="/underconstruction.html">
      <div class="navlink1">

		   <div class="navlink1-text">About Me</div>

      </div>
		 		   </a>
		
    </li>
	<li>
		<a href="/underconstruction.html">
	  <div class="navlink2">
	    <div class="navlink2-text">Portfolio</div>
	  </div>
			</a>
	</li>
    <li>
		
		<a href="/underconstruction.html">
      <div class="navlink3">
        <div class="navlink3-text">Blog</div>
      </div>
		</a>
		
    </li>
			 
			 <li>
				 <a href="/journals/index.html">
			   <div class="navlink4">
			    
				   
				   <div class="navlink4-text">D&amp;D Journals</div>
				   
				   
			   </div>
					 </a>
			 </li>
			 <li>
				  <a href="/underconstruction.html">
			   <div class="navlink5">
			     <div class="navlink5-text">Major Projects</div>
			   </div>
				 </a>
			 </li>
			 <li>
				  <a href="/underconstruction.html">
			   <div class="navlink6">
			     <div class="underconstruction.html">Art Archive</div>
			   </div>
				 </a>
			 </li>

  </ul>
		</div>
</body>
</html>
