<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Socials</title>
</head>
<!--
Replace social media links with icons later
Same goes for patreon-style sites.

-->
	
<body>
<div class="followme-socials">
  <h3>Follow Me</h3>
  <ul></ul>
  
  <li> <p><a href="https://pizzamafiaart.tumblr.com/">Tumblr</a></p></li>
	
  <li><p><a href="https://bsky.app/profile/pizzamafiaart.bsky.social">Bluesky</a></p></li>
	
  <li><p><a href="https://www.twitch.tv/fakepizzamafia">Twitch.tv</a></p></li>
	  
   <li> <p><a href="https://x.com/pizzamafiaart">Twitter</a></p></li>
  
<!--  <li><p><a href="https://www.behance.net/pizzamafia">Behance</a></p></li>
	
  <li><p><a href="https://www.artstation.com/pizzamafiaart">Art Station</a></p></li>-->
  
	<h3>Support my work</h3>
	
  <li><p><a href="https://x.com/pizzamafiaart">Patreon</a></p></li>
	  
	  
    <li><p><a href="https://ko-fi.com/pizzamafia">Ko-fi</a></p></li>
	
  <li>	<p><a href="https://pizzamafiaart.itch.io/">Itch.io</a></p></li>
</div>

</body>
</html>
